# APP
APP_ENV=debug
APP_NAME=GoGinBase
APP_PORT=8000
CORS_ALLOW_ORIGIN=*

# Mysql DB
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_DATABASE=

# MongoDB
# MONGO_URI=

# Cache (Local & Redis)
CACHE_STORE=local

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=


# Auth
JWT_SECRET=GoGinBase
JWT_ACCESS_EXPIRATION_MINUTES=120
JWT_REFRESH_EXPIRATION_DAYS=7